@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
  }

  body {
    @apply bg-brand-bg text-white;
  }

  html,
  #root,
  body {
    @apply h-full min-h-screen;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    height: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer components {
  .table-dates-header {
    @apply grid grid-cols-7 grid-rows-none sm:grid-rows-7 sm:grid-cols-none text-center gap-2 pb-4;
  }

  .table-dates-main {
    @apply max-w-full pb-4 grid grid-flow-row grid-cols-7 grid-rows-none sm:grid-rows-7 sm:grid-cols-none sm:grid-flow-col gap-2;
  }
}
